
{% liquid 

  assign product_price =

%}
<div class="featured-product">
  {% if product.selected_or_first_available_variant.featured_image != null %}
    <img src="{{ product.selected_or_first_available_variant.featured_image | img_url: '400x' }}"
      sizes="(max-width: 600px) 400px,
              (max-width: 1024px) 600px,
              1024px"
      alt="{{ product.featured_image.alt }}"
      class="featured-product__img"
      />
  {% else %}
    <div class="aspect-square">{{ 'product-1' | placeholder_svg_tag }}</div>
  {% endif %}


  <div class="featured-product__info">
    <h3 class="featured-product__title">{{ product.title }}</h3>
    <p>

    </p>
    <p>{{ product.description }}</p>
    {% comment %} {% if product.variants.size > 1 %}
      <div class="relative">
        <select
          name="options"
          class="featured-product-options"
        >
          {%- for variant in product.variants -%}
            {% if variant.available %}
              <option
                {% if variant == product.selected_or_first_available_variant %}
                  selected="selected"
                {% endif %}
                {% if variant.available == false %}
                  disabled
                {% endif %}
                value="{{ variant.price | money }}"
                data-variant-id="{{ variant.id }}"
                data-product-variant-img="{{ variant.featured_image | img_url: '600x' }}"
                data-variant-price="{{ variant.price | money }}"
              >
                {{ variant.title }}
              </option>
            {% endif %}
          {%- endfor -%}
        </select>

        <svg class="" width="19" height="10" viewBox="0 0 19 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L9.5 8L18 1" stroke="#242323" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </div>
    {% endif %} {% endcomment %}
    <div class="featured-product__tags">
      {% for tag in product.tags %}
        {{ tag }}
      {% endfor %}
    </div>
    <button
      data-cart-add="{{ product.selected_or_first_available_variant.id }}"
      type="submit"
      name="add"
      class=""
    >
      {{ 'products.product.add_to_cart' | t }}
    </button>
  </div>
</div>