{{ 'component-card.bf.build.css' | asset_url | stylesheet_tag }}
{{ 'component-price.bf.build.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.bf.build.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.bf.build.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_quick_add -%}
  {{ 'quick-add.bf.build.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count
  assign column_desktop = 4
  assign column_mobile = 2

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = false
  if section.settings.enable_desktop_slider and products_to_display > column_desktop
    assign show_desktop_slider = true
  endif

  assign slider_title_classes = ''
  if show_mobile_slider
    assign slider_title_classes = slider_title_classes | append: ' title-wrapper--self-padded-tablet-down'
  endif
  if show_desktop_slider
    assign slider_title_classes = slider_title_classes | append: '  collection__title--desktop-slider'
  endif
-%}

<div class="color-background-1 isolate">
  <div class="collection collection--featured">
    <div class="{{ slider_title_classes }} collection__title title-wrapper title-wrapper--no-top-margin page-width">
      {%- if section.settings.title != blank -%}
        <h2 class="title inline-richtext center h2">
          {{ section.settings.title }}
        </h2>
      {%- endif -%}
      {%- if section.settings.description != blank -%}
        <div class="collection__description rte">
          {{ section.settings.description -}}
        </div>
      {%- endif -%}
    </div>

    <slider-component
      class="
        slider-mobile-gutter
        {% if show_desktop_slider == false %} page-width-desktop{% endif %}
        {% if show_mobile_slider == false %} page-width{% endif %}
        {% if show_desktop_slider %} slider-component-desktop{% endif %}
      "
    >
      <ul
        id="Slider-{{ section.id }}"
        class="
          grid product-grid contains-card contains-card--product contains-card--standard grid--{{ column_desktop }}-col-desktop grid--{{ column_mobile }}-col-tablet-down
          {% if show_mobile_slider or show_desktop_slider %}
            slider
            {% if show_desktop_slider %} slider--desktop{% endif %}
            {% if show_mobile_slider %} slider--tablet grid--peek{% endif %}
          {% endif %}
        "
        role="list"
        aria-label="{{ 'general.slider.name' | t }}"
      >
        {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="
              grid__item
              {% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}
            "
          >
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: 'square',
              show_secondary_image: section.settings.show_secondary_image,
              show_rating: section.settings.show_rating,
              show_quick_add: section.settings.enable_quick_add,
              section_id: section.id
            %}
          </li>
        {%- else -%}
          {%- for i in (1..4) -%}
            <li class="grid__item">
              {% render 'card-product' %}
            </li>
          {%- endfor -%}
        {%- endfor -%}
      </ul>
      {%- if show_mobile_slider or show_desktop_slider -%}
        <div class="slider-buttons no-js-hidden">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
            aria-controls="Slider-{{ section.id }}"
          >
            {%- render 'base-svg-sprites', icon: 'icon-caret' -%}
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ products_to_display }}</span>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
            aria-controls="Slider-{{ section.id }}"
          >
            {%- render 'base-svg-sprites', icon: 'icon-caret' -%}
          </button>
        </div>
      {%- endif -%}
    </slider-component>

    {%- if section.settings.show_view_all and more_in_collection -%}
      <div class="center collection__view-all">
        <a
          href="{{ section.settings.collection.url }}"
          class="button"
          aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
        >
          {{ 'sections.featured_collection.view_all' | t }}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_mobile.content"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
